{% extends "layout.html" %}
{% block body %}
<h1>Hello, world</h1>
<!-- <div class="container">
    <div class="col"></div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-5 text-container">
            <button class="btn btn-success">Go</button>
        </div>

    </div>
    <div class="row mt-5 text-container">
        <div class="col-4 mx-auto">
            Left List 
            <ul class="left-list">

            </ul>
        </div>
        <div class="col-4 mx-auto">
            Right list 
            <ul class="right-list">

            </ul>
        </div>
    </div>
</div>
{% endblock %}